
# Production
dist/
build/
.next/
out/
__pycache__/
*.pyc

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.DS_Store

# Testing
coverage/
.nyc_output/

# Misc
*.log
*.tgz
*.zip

# Sphinx
/docs/build/
/docs/source/apidocs/

# Svelte
/interfaz/node_modules/
/interfaz/npm-debug.log*
/interfaz/yarn-debug.log*
/interfaz/yarn-error.log*
/interfaz/pnpm-debug.log*
/interfaz/package-lock.json
/interfaz/yarn.lock
/interfaz/node_modules
/interfaz/.output
/interfaz/.vercel
/interfaz/.netlify
/interfaz/.wrangler
/interfaz/.svelte-kit
/interfaz/build

# Vite
/interfaz/vite.config.js.timestamp-*
/interfaz/vite.config.ts.timestamp-*