# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# Production
dist/
build/
.next/
out/
__pycache__/
*.pyc

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
Thumbs.db
.DS_Store

# Testing
coverage/
.nyc_output/

# Misc
*.log
*.tgz
*.zip

# Sphinx
/docs/build/
/docs/source/apidocs/

# Svelte
interfaz/logs
*.log
interfaz/npm-debug.log*
interfaz/yarn-debug.log*
interfaz/yarn-error.log*
interfaz/pnpm-debug.log*
interfaz/lerna-debug.log*

# Node
interfaz/node_modules
interfaz/dist
interfaz/dist-ssr
*.local

